.wrapper {
  top: 11px;
  cursor: pointer;
  display: flex;
  right: 1px;
}
.share-menu {
  width: 280px;
  margin: 8px 0px;
}
.more-menu {
  width: 180px;
  padding: 8px 0px;
}
.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 16px;
  margin: 4px;
}
.share-btn {
  height: 20%;
}
.menu-btn {
  margin-left: 18px;
  height: 20%;
}
.action-item {
  display: flex;
  align-items: center;
  padding: 11px 16px;
  margin: 0px 3px 0px 4px;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
.action-title {
  margin-left: 12px;
  color: #161823;
  font-size: 16px;
}
