.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  min-width: 100px;
  padding: 9px 16px;
  border-radius: 4px;
  background-color: var(--white);
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  color: inherit;
  text-decoration: none;
  + .wrapper {
    margin-left: 24px;
  }
}
.primary {
  color: var(--white);
  background-color: var(--primary);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
      #fe2c65;
  }
}
.outline {
  color: var(--primary);
  border-color: currentColor;

  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
}
.small {
  min-width: 88px;
  padding: 4px 16px;
}
.large {
  min-width: 140px;
  padding: 14px 16px;
}
.border {
  border-color: rgba(0, 0, 0, 0.3);
}
.icon + .title,
.title + .icon {
  margin-left: 8px;
}
.icon {
  display: inline-block;
  text-align: center;
  width: 30px;
}
