.wrapper {
  width: 100%;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
  max-height: min(-156px + 100vh, 760px);
}
.menu-popper {
  padding-top: 10px;
  padding-bottom: 10px;
}
