.wrapper {
  --border-radius-search: 92px;
  height: var(--default-layout-header-hight);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.logo {
}
.search,
.search-result {
  width: 468px;
}
.search {
  display: flex;
  align-items: center;
  height: 46px;
  background-color: rgba(32, 24, 35, 0.06);
  border-radius: var(--border-radius-search);
  padding-left: 16px;
  position: relative;
  border: 1.5px solid transparent;
  input {
    height: 100%;
    color: #000;
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
    outline: none;
    flex: 1;
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: #000;
  }
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: rgba(22, 24, 35, 0.3);
    height: calc(100% - 18px);
    right: 52px;
  }

  &:hover,
  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
  &:hover .search-btn {
    background-color: rgba(22, 24, 35, 0.08);
  }
}
.clear,
.loading {
  position: absolute;
  right: 68px;
  border: none;
  outline: none;
  color: rgba(22, 24, 35, 0.34);
}

.search-btn {
  width: 53px;
  height: 100%;
  border: none;
  outline: none;
  border-top-right-radius: var(--border-radius-search);
  border-bottom-right-radius: var(--border-radius-search);
  font-size: 2rem;
  color: rgba(22, 24, 35, 0.5);
}
.search-title {
  height: 30px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}
.action {
  display: flex;
  align-items: center;
}
.action-btn {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2.2rem;
  color: #161823;
  padding: 4px 12px;
  cursor: pointer;
}
.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 20px;
}
.contents {
  width: 224px;
}
.more-btn {
  font-size: 2rem;
  margin-left: 15px;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
