.wrapper {
  width: 356px;
  height: calc(100vh - var(--default-layout-header-hight));
  overflow-y: hidden;
  position: fixed;
  left: 0;
  top: 60px;
  padding: 20px 0px 26px 8px;
  transition: overflow 0.3s;
}
.wrapper.show-scroll {
  overflow-y: auto;
}
